body{
	padding: 0;
	margin: 0;
	background-color: #2F4F4F;
}

/* estilos globales */

.contendor{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

/* encabezado*/

header{
  background-color: #008080;
  color: #ccc;
  padding-top: 30px;
  min-height: 40px;
  border-bottom: 5px solid #fff;
  font-size: 10px;
  margin: 15px;
  text-align: center;
}

/*para lema*/

header #lema{
    float: right;
}

header #lema h1{
  margin: 0;
}

/*propiedades de resaltar CEM RAMON ROSA */

header .resaltado, header.actual a{
  color: #FFD700;
  font-weight: bold;
}

.logo img{
  width: 100px;
  height: 80px;

}

/*propiedades generales de las IMAGENES */
.encabezado{
  margin: 15px;
  padding-top: 5px;
  max-width: 100%;
}

/*propiedades del titulo "Vision" */
.titulo h3{
  text-align: center;
  padding-top: 20px;
  color: #FFD700;
  font-family: 'Broadway';
  font-size: 40px;
}

/*propiedades imagen sobre la vision */
.cole img{
  margin: auto;
  display: block;
  width: 455px;
}

/*propiedades generales del pie de pagina */
.pie{
  background-color: #336666;
  text-align: center;
  color: #ccc;
  font-size: 15px;
  font-family: 'Arial Black';
  margin: 15px;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    padding-top:80px;
  }
 